html, body  {
    height: 100%;
    margin: 0;
    border: 0 none;
    padding: 0;
}

.acrylic {
    height: 100vh;
    background-color: #3C3C3C;
    display: flex;
    justify-content: baseline;
}

.avatar {
    width: 100%;
    height: 350px;
    display: flex;
    align-self: center;
}